@tailwind components;

@layer components {
    .navbar {
        background-color: rgba(255, 0, 0, 0.8);
    }

    .navbar ul, .navbar li {
        @apply flex flex-row p-[8px] justify-start opacity-90;
    }

    .navbar li {
        @apply hover:opacity-100;
    }
}

.MuiPopover-paper {
    background-color: rgba(255, 255, 255, 0) !important;
}

.bag-popover-body {
    margin-top: 10px;
    width: 250px;
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 16px;
  }
  
  .bag-popover-body::after {
    left: 54%;
    border-top: 1px solid rgb(209, 213, 219);
    border-left: 1px solid rgb(209, 213, 219);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 8px;
    height: 10px;
    -webkit-transform: rotate(45deg) skew(4deg, 4deg);
    transform: rotate(45deg) skew(4deg, 4deg);
    -webkit-transform-origin: 0% 0;
    transform-origin: 0% 0;
    z-index: 9 !important;
    background-color: black;
    margin-top: 5px;
  }