@tailwind components;

@layer components {
    .navbar {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar ul, .navbar li {
        @apply flex flex-row p-[8px] justify-center opacity-75;
    }

    .navbar li {
        @apply hover:opacity-100;
    }

    .bag-popover-body {
        @apply mt-[10px] w-[286px] bg-white px-20 border-[rgb(209,213,219)] border-[1px] rounded-sm;
    }

    .bag-popover-body::after {
        -webkit-transform: rotate(45deg) skew(4deg, 4deg);
        transform: rotate(45deg) skew(4deg, 4deg);
        -webkit-transform-origin: 0% 0;
        transform-origin: 0% 0;
        z-index: 9 !important;
        @apply left-1/2 content-none border-t-[1px] border-l-[1px] border-r-0 border-b-0 border-[rgb(209,213,219)] block absolute top-0 w-[12px] h-[12px]
        bg-white;
    }

    .MuiPopover-paper {
        @apply bg-transparent !important;
    }
}